<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.shariqmalik.garden-drop-nightly</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__BACKUP_SCRIPT__</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>GARDEN_VAULT_ROOT</key>
    <string>__VAULT_ROOT__</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>23</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/nightly-backup.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/nightly-backup-error.log</string>
</dict>
</plist>

